.bg__img{
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgb(0,0,0,1), rgb(0,0,0,0));
}


.carousel-control-next, .carousel-control-prev {
    top: 160px !important;
    align-items: unset !important;
}

.cardTitle {
    color: steelblue;
}

.display{
    position: fixed;
    top: 53%;
}

/* @media screen and (min-width: 768px) {
    [class*="display"] {
        top: 50%;
      }
  } */
